<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623591879264-ptq6e7478anq69h31g5o2iu619r83f91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623591879264-ptq6e7478anq69h31g5o2iu619r83f91</string>
	<key>API_KEY</key>
	<string>AIzaSyC49CTJC55Lxx6pAgsei01ShGQVuIN9Cho</string>
	<key>GCM_SENDER_ID</key>
	<string>623591879264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icecube.jewelswitch.appstore.free.puzzle</string>
	<key>PROJECT_ID</key>
	<string>jewels-witch-castle</string>
	<key>STORAGE_BUCKET</key>
	<string>jewels-witch-castle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623591879264:ios:7aa8259b821390de018905</string>
</dict>
</plist>